name: CI to Docker Hub with cache

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - 'main'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:

  build: 
    runs-on: ubuntu-latest
    # FIX: Hem eliminat les cometes dobles. L'expressió 'startsWith' s'escriu directament.
    if: startsWith(github.event.head_commit.message, 'v')
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v4

    # añadido el 18/11/2025
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Run ESLint
      run: npm run lint
    # fin añadido el 18/11/2025

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    # NOU PAS: Extreu la primera paraula del missatge del commit utilitzant Bash
    - name: Extract version tag
      id: extract_tag
      run: echo "version_tag=$(echo '${{ github.event.head_commit.message }}' | cut -d ' ' -f 1)" >> $GITHUB_OUTPUT

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        context: ./
        file: ./Dockerfile
        push: true
        # ÚS DE LA NOVA VARIABLE DE SORTIDA
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/movere-frontend:${{ steps.extract_tag.outputs.version_tag }}

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}